body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222237;
}

.list {
    margin-top: calc(50vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}