body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222237;
    min-height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}